.scroll-to {
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #616161;
  z-index: 1;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  opacity: 0.7;
  display: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.scroll-to:hover {
  cursor: pointer;
  opacity: 0.9;
}